.fx--aside-left {
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
    width: $aside-width;
    top: -70px;
    z-index: 100;
    position: relative;
    float: left;

    .list-group-item {
        padding: .75rem 1rem;
        color: $blue;
        border: 0;
        border-left: .3rem solid transparent;

        [class^="ti-"],
        [class*=" ti-"] {
            &:first-child {
                padding-right: 0.75rem;
            }
        }
    }

    .list-group-item.active {
        border-left-color: $green;
    }
}

.fx--aside-user {
    margin-bottom: 0;
}

.fx--aside-left--skin-light {
    background-color: $aside-bg;

    .fx--aside-user {
        color: $blue;
        background-color: $aside-bg;
    }
}

.fx--aside-left--skin-dark {}