.btn {
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-transform: uppercase;
    border-color: transparent;
}

.btn-success {
    background-color: $green;

}

.btn-secondary {
    background-color: $dark-gray;
}

.btn-primary {
    background-color: $blue;
}

.btn-danger{
    background-color: $red;
}