.card {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(184, 184, 184, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(184, 184, 184, 1);
    box-shadow: 0px 0px 3px 0px rgba(184, 184, 184, 1);

    border: none;
    border-radius: .25rem;
    margin-bottom: 1rem;

    .table {
        margin-bottom: 0;
    }
}

.card-default {
    background-color: $card-default-bg;
}

.card-footer{
    background-color: $white;
}

.card-header {
    background-color: transparent;
    border-bottom: none;
    position: relative;
    padding-bottom: 0;

    h2 {
        font-weight: 700;
        margin-bottom: 0;
    }

    small {
        color: $dark-gray;
        font-size: 1rem;
    }

    .btn-close {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}