.datepicker {
    color: $white;
}

.datepicker-dropdown {
    background-color: $dark-blue;
    border-radius: 20px;
    padding: 1rem 2rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.datepicker td,
.datepicker th {
    width: 50px;
    height: 30px;
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
    background: $light-blue;
    color: $white;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    background-image: none;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
    background-color: transparent;
}

.datepicker table tr td.active {
    position: relative;
}

.datepicker table tr td.active::before {
    position: absolute;
    content: ' ';
    display: block;
    border: 1px solid $white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 20%;
    top: 0px;
}

.datepicker-dropdown.datepicker-orient-left:before {
    left: 7%;
}

.datepicker-dropdown.datepicker-orient-left:after {
    left: 7%;
    border-bottom-color: $dark-blue;
}

.datepicker-dropdown.datepicker-orient-right:before {
    right: 7%;
}

.datepicker-dropdown.datepicker-orient-right:after {
    right: 7%;
    border-bottom-color: $dark-blue;
}