.icon-mail-to {
  margin-top: -4px;
  padding-right: 5px;
}

footer {
  margin-top: 80px;
  background-color: #fff;
  line-height: 30px;
}

footer .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer h5 {
  font-family: 'Avenir-Heavy';
  font-weight: 700;
  font-size: 15px;
  color: #2d426a;
  margin-bottom: 20px;
}

footer a {
  font-size: 15px;
  color: #01b9ff;
}

.copyright {
  border-top: 1px solid #e2e6e8;
  font-family: 'Avenir-Roman';
  font-size: 13px;
  color: #8ea4b2;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  text-align: center;
}