@media (min-width: 1025px) {
    .fx--header {
        height: 70px;
    }

    .fx--header--fixed .fx--header {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .fx--header--fixed .fx--body {
        padding-top: 70px !important;
    }

    .fx--aside-left--fixed .fx--aside-left {
        top: 0;
        bottom: 0;
        position: fixed;
        height: auto !important;
        left: 0;
        z-index: 98;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .fx--aside-left--fixed.fx--header--static .fx--aside-left,
    .fx--aside-left--fixed.fx--header--fixed .fx--aside-left {
        top: 70px;
    }
}