.fx--status {
    &::before {
        content: ' ';
        border-radius: 50%;
        width: .6rem;
        height: .6rem;
        display: inline-block;
        margin-right: 0.3rem;
    }

    &.fx--status-online::before {
        background-color: $green;
    }

    &.fx--status-offline::before {
        background-color: $red;
    }
}