.nav-tabs {
    padding-left: 1rem;
}

.nav-tabs .nav-link {
    text-transform: uppercase;
    border: none;
    border-bottom: 3px solid transparent;
    font-weight: 500;

    &.active {
        font-weight: 700;
        border-bottom-color: $blue;
    }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: $blue;
    font-weight: 500;
    background-color: transparent;
}