$white: #fff;
$blue: #135A9B;
$light-blue: #2170B9;
$dark-blue: #144A7B;
$green: #84B22A;
$dark-green: #0D6C11;
$red:#BF1515;
$pink: #F03B80;
$dark-gray:#484848;
$back-ground: #F2F2F2;
$border-color: #707070;
$yellow: #CBB01D;
$light-yellow: #FBFF9D;
$light-orange: #FFC69D;
$dark-orange: #931414;
$sky:#9DF4FF;
$dark-sky: #299898;

$aside-bg: #F5F5F5;
$aside-sub-menu-color: #E1E1E1;
$aside-sub-menu-bg: #6f706e;
$aside-width: 15rem;

$card-default-bg: #F5F5F5;

$light-blue: #2699FB;
$light-gray: #D8D8D8;
$disabled-bg: #ACACAC;
$hr-color: #C3C1C1;
