@mixin accordion-multiple-outline-variant($color) {
    border-color: $color;
}

@mixin accordion-multiple-filled-variant($color) {
    background: $color;
}

@mixin accordion-inverse-variant($color) {
    background: rgba($color, 0.16);
    color: $color;
    border: none;
    .card-header {
        background: rgba($color, 0.16);
        color: $color;
        border: none;
        a,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        span {
            color: $color !important;
        }
        a {
            border-color: $color;
            &:before {
                color: $color !important;
            }
        }
        a[aria-expanded="true"] {
            border-bottom: 1px solid rgba($color, 0.16);
        }
        a[aria-expanded="false"] {
            border-bottom: 1px solid transparent;
        }
    }
}

@mixin accordion-outline-variant($color) {
    border-color: $color;
    .card .card-header {
        border: none;
        a {
            border-color: $color;
            &:before {
                color: $color;
            }
        }
    }
}